{% extends 'base.html.twig' %}

{% block title %}New Repquestionnaire{% endblock %}

{% block body %}
    <h1>Create new Repquestionnaire</h1>

    {{ include('repquestionnaire/_form.html.twig') }}

{% endblock %}
