{% extends 'base.html.twig' %}

{% block title %}New Demande{% endblock %}

{% block body %}
    <h1>Create new Demande</h1>


<a href="{{ path('generate_qr_code') }}" class="btn btn-info mb-3">
    Générer un QR Code pour les jours fériés
</a>

    {{ include('demande/_form.html.twig', { button_label: 'Enregistrer' }) }}

{% endblock %}
