{% extends 'base.html.twig' %}

{% block title %}Employé Index{% endblock %}

{% block body %}
<div class="container mt-5">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h1 class="h3 text-dark">Liste Des Employés</h1>
    </div>

    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Nom d'utilisateur</th>
                    <th>Nombre de pointages effectués</th>
                    <th>Nombre de absences</th>
                    <th class="text-center">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for employe in employes %}
                    {% if employe.poste != "Admin" %}
                        {% set nb = 0 %}
                        {% for pointage in pointages %}
                            {% if pointage.employe == employe and pointage.date.format('Y-m') == "now"|date("Y-m") %}
                                {% set nb = nb + 1 %}
                            {% endif %}
                        {% endfor %}
                        <tr>
                            <td>{{ employe.username }}</td>
                            <td>{{ nb }}</td>
                            <td>{{ "now"|date("d") - nb}}</td>
                            <td class="text-center">
                                <a href="{{ path('app_pointage_new', {'id': employe.id}) }}" class="btn btn-outline-dark btn-fw me-1">Ajouter Pointage</a>
                            </td>
                        </tr>
                    {% endif %}
                {% else %}
                    <tr>
                        <td colspan="3" class="text-center text-secondary">Aucun employé trouvé</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
