<form method="post"
      action="{{ path('app_fiche_employe_delete', {'id': fiche_employe.id}) }}"
      onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ce fiche ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ fiche_employe.id) }}">
    <button type="submit" class="btn btn-danger px-4">Supprimer</button>
</form>
