{% extends 'base.html.twig' %}

{% block title %}Modifier une Fiche Employé{% endblock %}

{% block body %}
<div class="container">
    <h2>Modifier une Fiche Employé</h2>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-primary mt-3">Mettre à jour</button>
    {{ form_end(form) }}

    <a href="{{ path('app_fiche_employe_index') }}" class="btn btn-secondary mt-3">Retour</a>
</div>
{% endblock %}
