{% extends 'base.html.twig' %}

{% block title %}New FicheEmploye{% endblock %}

{% block body %}
    <h1>Create new FicheEmploye</h1>

    {{ include('fiche_employe/_form.html.twig') }}

    <a href="{{ path('app_fiche_employe_index') }}">back to list</a>
{% endblock %}
