{% extends 'base.html.twig' %}

{% block title %}Nouvelle Paie{% endblock %}

{% block body %}
<div class="container mt-5">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h1 class="text-white">Créer une nouvelle paie</h1>
        <a href="{{ path('app_paie_index') }}" class="btn btn-outline-light">← Retour à la liste</a>
    </div>

    {{ include('paie/_form.html.twig', { button_label: 'Enregistrer' }) }}
</div>
{% endblock %}
