{% extends 'base.html.twig' %}

{% block title %}Nouveau candidat{% endblock %}

{% block body %}
<div class="container mt-5">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h1 class="text-white">apply as a candidat</h1>
    </div>

    {{ include('candidat/_form.html.twig', { button_label: 'Enregistrer' }) }}
</div>
{% endblock %}
