{% extends 'baseAdmin.html.twig' %}

{% block title %}Edit Demande{% endblock %}

{% block body %}
    <h1>Edit Demande</h1>

    {{ include('demandeadmin/_form.html.twig', {'button_label': 'Update'}) }}


{% endblock %}
