{% extends 'base.html.twig' %}

{% block title %}Edit Questionnaire{% endblock %}

{% block body %}
    <h1>Edit Questionnaire</h1>

    {{ include('questionnaire/_form.html.twig', {'button_label': 'Update'}) }}


   
{% endblock %}
